.comment-card {
    transition: transform 0.3s ease-in-out;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .comment-card {
        width: 90%;
    }
}